<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Newsletter</title>
    <style type="text/css" media="screen">
      /* Put styles styles here */
    </style>
  </head>
  <body alink="#000" vlink="#000" link="#000" bgcolor="#fff">
    <%# This image is used for tracking %>
    <%- unless @preview_mode -%>
    <img src="<%= recipient_reads_url(:id => @recipient.id || 1, :host => @server) %>" style="width: 0; height: 0; display: none" width="0" height="0"/>
    <%- end -%>
    <%# end tracking image %>

    <%= render_newsletter_layout %>

    <%= alchemy_preview_mode_code %>
  </body>
</html>
