<li class="sent_mailing <%= cycle('even', 'odd') %>">
	<%= link_to_overlay_window(
		l(sent_mailing.created_at),
		admin_sent_mailing_path(sent_mailing),
		{
			:title => "Statistik des #{sent_mailing.mailing.name} vom #{l(sent_mailing.created_at)}",
			:size => '500x400',
			:modal => false
		}
	) %>
	<%= link_to(
		"PDF",
		pdf_admin_sent_mailing_path(sent_mailing),
		:class => "sent_mailing_pdf_link button",
		:title => "PDF des Versands runterladen"
	) %>
</li>
