<%= form_tag import_admin_contacts_path, :multipart => true do %>
	<div class="info">
		<%= render_icon('info') %>
		<p>Sie können eine Visitenkarte (.vcf Datei) mit einem, oder auch mehreren Kontakten importieren.</p>
	</div>
	<table>
		<tr>
			<td class="label">Datei:</td>
			<td>
				<%= file_field_tag :vcard %>
			</td>
		</tr>
		<tr>
			<td class="submit" colspan="2">
				<%= submit_tag t('save'), :name => nil, :class => 'button' %>
			</td>
		</tr>
	</table>
<% end %>
