<% form_tag import_admin_contacts_path, :multipart => true, :class => 'with_padding' do %>
	<table>
		<tr>
			<td colspan="2">
				<p>
					Sie können eine Visitenkarte (.vcf Datei) mit einem, oder auch mehreren Kontakten importieren.
				</p>
			</td>
		</tr>
		<tr>
			<td class="label">Datei:</td>
			<td class="input">
				<%= file_field_tag :vcard %>
			</td>
		</tr>
		<tr>
			<td class="submit" colspan="2">
				<%= submit_tag _('save'), :name => nil, :class => 'button' %>
			</td>
		</tr>
	</table>
<% end %>
