<span style="float:left"><%= check_box_tag name + "[tag_list][]", tag.name, tags.include?(tag), :id => tag.name + "_tag_list" %>
	<label for="<%= tag.name + "_tag_list" %>" class="tag">
		<%= tag.name %>
		<%= contact_count_from_tag(tag) %>
	</label>
</span>