<%- if @deliveries.blank? -%>
<p class="with_padding">Dieses Mailing wurde noch nie versendet!</p>
<%- else -%>
<div class="with_padding">
	<div class="info">
		<%= render_icon('info') %>
		<p>Dies ist eine Liste aller Sendungen dieses Mailings.</p>
		<p>Für bereits versendete Mailings können Statistiken aufgerufen werden.</p>
		<p>Noch nicht versendete Mailings können neu geplant werden, in dem Sie auf das Versanddatum klicken.</p>
	</div>
</div>
<div id="deliveries">
	<table class="list">
		<tr>
			<th>Versand geplant für</th>
			<th class="right">Empfänger</th>
			<th class="center">versendet?</th>
			<th class="center">Statistik</th>
		</tr>
		<%= render @deliveries %>
	</table>
</div>
<%- end -%>
