<%= render_essence_editor_by_name element, 'mail_from' %>
<%= render_essence_editor_by_name element, 'subject' %>
<%= render_essence_editor_by_name element, 'text' %>
<p class="foot_note">Bitte den Link zur Best채tigung mit %{link} einf체gen.<br />Den Namen des Empf채ngers mit %{name} einf체gen.</p>
<%= page_selector element, 'followup_page' %>
