<table class="newsletter_article" cellpadding="0" cellspacing="0" border="0" width="100%"<%= element_preview_code(element) -%>>
	<tr>
		<td valign="top">
			<h2><%= render_essence_view_by_name(element, 'headline') %></h2>
			<%= render_essence_view_by_name(element, 'text') %>
		</td>
	</tr>
</table>
