<%= render_essence_editor_by_name element, 'mail_from' %>
<%= render_essence_editor_by_name element, 'subject' %>
<%= render_essence_editor_by_name element, 'text' %>
<p class="foot_note"><%= ::I18n.t(:mail_text_interpolation_notice, :scope => :alchemy_crm) %></p>
