<%= render_essence_editor_by_name(element, 'signed_out_text') %>
<%= render_essence_editor_by_name(element, 'disabled_text') %>
<p class="foot_note"><%= ::I18n.t(:text_interpolation_notice, :scope => :alchemy_crm) %></p>
