span.icon.mailing_add {
	background: image-url('alchemy_crm/mailing-icons.png') -48px 0;
}

span.icon.mailing {
	background: image-url('alchemy_crm/mailing-icons.png') 0 0;
}

span.icon.mailing_copy {
	background: image-url('alchemy_crm/mailing-icons.png') -80px 0;
}

span.icon.mailing_edit {
	background: image-url('alchemy_crm/mailing-icons.png') -32px 0;
}

span.icon.mailing_delete {
	background: image-url('alchemy_crm/mailing-icons.png') -16px 0;
}

span.icon.delivery {
	background: image-url('alchemy_crm/mailing-icons.png') -64px 0;
}

span.icon.group_add {
	background: image-url('alchemy_crm/group-icons.png') -48px 0;
}

span.icon.send_mailing {
	background: image-url('alchemy_crm/mailing-icons.png') -96px 0;
}

span.icon.group {
	background: image-url('alchemy_crm/group-icons.png') 0 0;
}

a.icon.group_edit {
	background: image-url('alchemy_crm/group-icons.png') -32px 0;
}

a.icon.group_delete {
	background: image-url('alchemy_crm/group-icons.png') -16px 0;
}

span.icon.tag_add {
	background: image-url('alchemy_crm/tag-icons.png') -48px 0;
}

span.icon.tag {
	background: image-url('alchemy_crm/tag-icons.png') 0 0;
	margin-right: 0;
}

a.icon.tag_edit {
	background: image-url('alchemy_crm/tag-icons.png') -32px 0;
}

a.icon.tag_delete {
	background: image-url('alchemy_crm/tag-icons.png') -16px 0;
}

span.icon.contact_add {
	background: image-url('alchemy_crm/contact-icons.png') -48px 0;
}

span.icon.contact {
	background: image-url('alchemy_crm/contact-icons.png') 0 0;
}

a.icon.contact_export {
	background: image-url('alchemy_crm/contact-icons.png') -64px 0;
}

span.icon.contact_import {
	background: image-url('alchemy_crm/contact-icons.png') -80px 0;
}

a.icon.contact_delete {
	background: image-url('alchemy_crm/contact-icons.png') -16px 0;
}

a.icon.contact_edit {
	background: image-url('alchemy_crm/contact-icons.png') -32px 0;
}

span.icon.format_add {
	background: image-url('alchemy_crm/newsletter-icons.png') -48px 0;
}

span.icon.format {
	background: image-url('alchemy_crm/newsletter-icons.png') 0 0;
}

span.icon.format_delete {
	background: image-url('alchemy_crm/newsletter-icons.png') -16px 0;
}

span.icon.format_edit {
	background: image-url('alchemy_crm/newsletter-icons.png') -32px 0;
}

span.icon.fill_from_element {
	background: image-url('alchemy/icons.png') -256px -40px;
}

div.deliveries {
	padding: 8px;
	height: 400px;
	overflow-y: auto;
	overflow-x: none;
}

div.deliveries ol,
div.deliveries ul {
	padding: 0;
	margin: 0;
}

li.delivery {
	clear: both;
	line-height: 25px;
	padding: 4px;
	margin-bottom: 4px;
}

li.delivery.even:hover,
li.delivery.odd:hover {
	background-color: #fffdef;
}

li.delivery.even {
	background-color: #fff;
}

li.delivery.odd {
	background-color: #dedede;
}

div.recipient_group {
	margin-bottom: 8px;
	background-color: #eef1f7;
	padding: 8px;
	border: 1px solid #d5d9e1;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

#delivery div.recipient_group p {
	margin: 0;
}

#read div.recipient table tbody tr td {
	padding-right: 8px;
}

#delivery div.recipients table.recipients_table {
	font-size: 10px;
	border-style: none;
	border-width: 0;
	border-spacing: 0;
	width: 100%;
}

div.recipients {
	margin-top: 8px;
	max-height: 144px;
	overflow: auto;
	position: relative;
}

div.recipients table.recipients_table th,
div.recipients table.recipients_table td {
	padding: 6px 4px 4px;
	border-bottom: 4px solid #eef1f7;
	text-align: left;
	vertical-align: top;
	line-height: 15px;
}

div.recipients table.recipients_table thead tr {
	
}

#delivery div.recipients table.recipients_table td {
	background-color: #f7f7f7;
}

#delivery h2 span {
	font-weight: normal;
	font-style: normal;
}

span.delivery_text {
	float: left;
	position: relative;
	top: 4px;
}

#main_content ul.mailing.list li div.list_row span.list_3rdcol {
	width: 130px;
}

#main_content ul.mailing.list li div.list_row span.list_4thcol {
	width: 64px;
}

div#tag_links {
	clear: both;
	margin-bottom: 5px;
	background-color: rgba(58,255,63,0.35);
}

div#tag_links a {
	font-style: italic;
	margin-right: 2px;
	margin-left: 2px;
}

div#other_links {
	float: left;
	background-color: rgba(249,12,21,0.5);
}

div#other_links a {
	font-style: italic;
	margin-right: 2px;
	margin-left: 2px;
}

div#tag_container {
	float: left;
}

#main_content ul.contacts.list li div.list_row span.list_1stcol img {
	position: relative;
	right: 1px;
}

div.tag_and_radio_list {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 8px;
}

span.tag_with_radio_button {
	margin-right: 12px;
	float: left;
}

div.tag_list {
	padding-bottom: 8px;
	overflow: auto;
}

.tag_with_radio_button input, .tag_with_radio_button label.tag {
	padding: 0;
	width: auto;
}

#all_contacts {

	padding: 2px 4px;
	margin: 0;
	list-style-type: none;
	overflow: auto;
	height: 8em;
	background-color: white;

	li {
		padding: 4px;
		margin: 2px 0;
	}
}

form.send_mailing_form {
	float: left;
	clear: both;
	width: 100%;
	margin-top: 20px;
}

a.delivery_pdf_link {
	float: right;
}

img.unverified_contact {
	position: absolute;
	left: 2px;
	z-index: 1;
	top: 1px;
}

#contact_list li div.list_row span.list_1stcol {
	position: relative;
}

#contact_list li div.list_row span.list_4thcol {
	margin-left: 4px;
	width: 42px;
}

.contact_details {
	float: left;
	clear: both;
	width: 367px;
	background-color: #ddd;
	padding: 4px 4px 2px;
}

.contact_details div {
	margin-bottom: 2px;
}

#contact_list li div span.user_edit_tools {
	width: 41px;
}

ul.mailing.list span.list_1stcol img {
	position: relative;
	right: 1px;
}

a.delete_mailing_button:hover {
	background-position: right;
	text-decoration: none;
}

.with_padding {
	position: relative;
}

div#please_wait {
	position: absolute;
	width: 99%;
	height: 99%;
	text-align: center;
	background-color: #ededed;
	z-index: 1;
	opacity: 0.85;
}

#please_wait p {
	margin-top: 30%;
}

#please_wait p img {
	position: relative;
	top: 12px;
}

.full_width {
	width: 100% !important;
}

div.emulate_table span.value_with_top_padding {
	padding-top: 2px;
	float: left;
}

a.send_mailing_button {
	width: 19px;
	height: 19px;
	display: block;
	background: image-url('alchemy_crm/mailing_send.gif') no-repeat left center;
	float: right;
}

#teasable_elements a.link_only {
	float: right;
}

a.send_mailing_button:hover {
	background-position: right;
	text-decoration: none;
}

.send_mailing_button_disabled {
	width: 19px;
	height: 19px;
	display: block;
	background: image-url('alchemy_crm/mailing_send.gif') no-repeat left center;
	float: right;
	background-position: right;
	text-decoration: none;
}

a.show_statistic_button {
	float: right;
	width: 19px;
	height: 19px;
	background-image: image-url('alchemy_crm/statistic.png');
}

a.show_statistic_button:hover {
	text-decoration: none;
	background-position: right;
}

span.tag {
	margin-right: 12px;
	float: left;
}

#filter_container {
	margin-bottom: 8px;

	.thin_border {
		bottom: 8px;
    	position: relative;
	}

	span.remove_filter {
		float: right;
		position: relative;
    	top: 2px;
	}

	div.filter {
		margin-bottom: 8px;
	}
}

#alchemy input#contact_city, #alchemy input#contact_title {
	width: 182px;
}

#alchemy input#contact_zip {
	width: 59px;
}

#alchemy table#contact td.label.right {
	width: 40px;
}

#alchemy .selectbox .display.very_short {
	width: 39px;
}

#alchemy .selectbox.items.very_short {
	width: auto;
}

#alchemy .selectbox .display.time_select {
	width: 19px;
}

#alchemy .selectbox.items.time_select {
	width: 47px;
}

table tr.disabled td {
	color: #592e2e;
	background-color: #efd3d3;
}

div#archive_all form.contact_import {
	width: 550px;
	margin: 8px;
}

td.delivery_time {
	white-space: nowrap;

	div.alchemy_selectbox, label, input.thin_border {
		float: left;
	}

	label {
		line-height: 23px;
		margin: 0 8px;
	}

	input.thin_border {
		position: relative;
		top: -2px;
	}
}
