<html>
  <body>
    <%= raw @element.ingredient("text") % {
      :link => link_to(
        url = alchemy_crm.verify_contact_url(:token => @contact.email_sha1),
        url
      ),
      :name => @contact.fullname
    } rescue "" %>
  </body>
</html>
